<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MonitorServices" type="PingService.ServiceConfigurationSection, PingService" />
  </configSections>

  <MonitorServices>
    <ServicesNames>
      <!-- Interval = minutes -->
      <add Name="Ping"       Type="exe"  Interval="1" Path="D:\Sample Source\Ping2.2\Ping\bin\Debug\Ping.exe" />
      <add Name="ftpmonitor" Type="exe"  Interval="2" Path="D:\Sample Source\SFTP-Monitor-V2.5\FTPMonitor\bin\Debug\ftpmonitor.exe" />
      <add Name="homepage"   Type="http" Interval="3"  Path="http://192.168.6.49" /> 
    </ServicesNames>
  </MonitorServices>
  
</configuration>
